.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 30px;
  background-image: radial-gradient(rgb(255, 255, 255), rgb(82, 82, 82));
  padding: 50px;
  width: 90%;
  margin: auto;
}

body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  margin: 375px 0 0 0;
}
